.card{
    height: 160px;
    width:140px;
    margin-left: 150px;
    padding: 10px;
    float: left;
}
#main{
    width: 70%;
    height:200px;
    margin-top: 400px;
    background-color:#ffffff;
}
body{
    background-color: #ffffff;
}
.maintext{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40pt;
}